// CSS for the FAQs component in components/Faqs.tsx.

@import "../variables";


.wrap {
    flex-wrap: inherit;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1700px;
	padding: 0 15px;
}
.content {
    width: 100%;
}
